body {
  background-color: #aaa;
  padding-top: 3rem;
  font-family: Helvetica;
}

.quote {
  font-size: 2rem;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border: 3px solid #777;
  color: #fff;
  border-radius: 5px;
}

.quote .text {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.quote .author {
  font-weight: bold;
  color: #666;
  font-size: 1.5rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: #666;
  background-color: #f8ffd2;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
  margin: 5rem 0 0;
}

.button:hover {
  background-color: #9da184;
  color: #ddd;
}
