* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
}

h2 {
  margin-bottom: 2rem;
}

#multiplication-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.1rem;
  color: #333;
}

#form-control-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#signal {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control label {
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control input {
  margin-bottom: 1rem;
  width: 100px;
  padding: 1rem 0.5rem;
  border: none;
  border: 1px solid #b6b6b6;
  background-color: #ddd;
  border-radius: 2px;
  text-align: center;
}

#multiplication-form input[type="submit"] {
  padding: 1rem 1.2rem;
  width: 100%;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.8;
  transition: 0.4s;
}

#multiplication-form input[type="submit"]:hover {
  opacity: 1;
}

#multiplication-title {
  margin: 2rem 0;
}

#multiplication-operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.1rem;
  color: #333;
}

#multiplication-operations .row {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 0.5rem;
  width: 200px;
  text-align: center;
}

#multiplication-operations .row:last-child {
  border-bottom: 1px solid #ccc;
}

#multiplication-operations .result {
  margin-left: 0.4rem;
}
