* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  padding-bottom: 100rem;
}

nav {
  background-color: #01011a;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

nav ul a:hover {
  background-color: #51518f;
}

nav ul li:hover > ul {
  color: red;
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  width: 150px;
  top: 55px;
  background-color: #01011a;
  padding: 0;
}

nav ul ul li {
  position: relative;
}

nav ul ul li a {
  display: block;
  padding: 1rem;
}

nav ul ul ul {
  left: 150px;
  top: 0;
  background-color: #01011a9c;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  background-color: #01011a;
  color: #fff;
  padding: 0.5rem;
}
