* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #ffffff40;
  padding: 2rem;
  width: 450px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.input-group,
.output-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.input-group label,
.output-group label {
  margin-bottom: 0.4rem;
}

select,
input {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background-color: #ddd;
}

button {
  background-color: #100c47;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem 0;
}

button:hover {
  background-color: #19136d;
}

#output {
  text-transform: uppercase;
}

#message {
  font-size: 0.9rem;
  color: purple;
  margin-top: 1rem;
  text-align: center;
}
