* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.hide {
  display: none !important;
}

.container {
  min-width: 400px;
  min-height: 400px;
  background-color: #000;
  padding: 2rem;
  border-left: 20px solid rgb(54, 54, 54);
}

#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.form-control input {
  padding: 1rem 0.5rem;
  background-color: #242424;
  border: 3px solid transparent;
  color: #fff;
  outline: none;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: bold;
}

.form-control input::placeholder {
  color: #666;
}

.form-control input:focus {
  border-bottom: 3px solid blue;
  padding-left: 0.8rem;
}

.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: bold;
  background-color: #002488;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  border: none;
}

#calc-btn:focus {
  outline: 3px solid #464666;
}

#clear-btn:focus {
  outline: 3px solid #002488;
}

#back-btn:focus {
  outline: 3px solid #464666;
}

button:hover {
  background-color: #464666;
}

#clear-btn {
  background-color: #464666;
}

#clear-btn:hover {
  background-color: #002488;
}

/* Table */

#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 1.4rem;
  color: #ccc;
}

#result-container h3 {
  margin-top: 1rem;
  color: #dfdfdf;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #ccc;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.low {
  color: #dbce12;
}

.good {
  color: #12db34;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}
