body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

/* botões */

#buttons-container button {
  border: none;
  background-color: #156e1d;
  padding: 0.7rem 1rem;
  margin: 0 1rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

#buttons-container button:hover {
  background-color: #12971e;
}

/* jogo */
#container {
  width: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: 2rem auto;
}

.box {
  height: 150px;
  border: 3px solid rgb(251, 255, 0);
  box-sizing: border-box;
  flex: 1 1 33%;
  background-color: #0000001a;
}

#block-1,
#block-2,
#block-3 {
  border-top: none;
}

#block-1,
#block-4,
#block-7 {
  border-left: none;
}

#block-3,
#block-6,
#block-9 {
  border-right: none;
}

#block-7,
#block-8,
#block-9 {
  border-bottom: none;
}

/* Símbolos */
.x {
  font-size: 110px;
  color: blue;
  display: inline-block;
  line-height: 150px;
}

.o {
  width: 70px;
  height: 70px;
  border: 8px solid orange;
  border-radius: 50%;
  display: inline-block;
  margin-top: 30px;
}

/* esconder */

.hide {
  display: none !important;
}

/* placar */

#scoreboard-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  margin: 0 auto;
}

#scoreboard-container h2 {
  font-size: 2rem;
  /* margin: 1rem; */
}

#x-scoreboard {
  color: blue;
}

#o-scoreboard {
  display: inline-block;
  color: orange;
  width: 1.8rem;
  height: 1.8rem;
  border: 5px solid orange;
  border-radius: 50%;
  position: relative;
  top: 7px;
}

#scoreboard-1,
#scoreboard-2 {
  margin-left: 10px;
}

#scoreboard-container div {
  display: flex;
}

.score-box {
  margin: 0 1.5rem;
}

/* vitória */

#message p {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 280px;
  width: 500px;
  font-size: 2rem;
  background-color: #f3f3f3ab;
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-transform: uppercase;
}
