* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  background-color: darkslateblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

h1 {
  color: #fff;
  /* margin: 2rem 0; */
}

#converterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

label {
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff;
}

textarea,
pre {
  width: 600px;
  height: 300px;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  background-color: rgb(96, 50, 204);
}

textarea {
  color: #fff;
}

pre {
  height: auto;
  margin: 2rem auto;
  text-align: left;
  color: #fff;
}

.btn-container {
  width: 600px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1rem;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(60, 60, 201);
}
