* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 230, 0);
}

/* Container style */
.container {
  background-color: #fff;
  padding: 2rem;
  transition: 0.3s;
  width: 450px;
  box-shadow: 0 0 10px #00000041;
}

#qr-reader {
  text-align: center;
}

#qr-reader h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0.8rem;
}

#qr-reader p {
  color: #555;
  font-size: 0.9rem;
}

#qr-form {
  text-align: center;
  margin: 1rem 0;
}

#qr-form input,
#qr-form button {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 0.9rem;
}

#qr-form input {
  border: 1px solid #777;
  padding: 10px 15px;
  outline: none;
  margin-bottom: 1rem;
}

#qr-form button {
  background-color: #e9be00;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.7;
}

#qr-form button:hover {
  opacity: 1;
}

#qr-code {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border: 1px solid #ddd;
  transition: 0.4s;
}

#qr-code img {
  box-shadow: 0 0 10px #00000011;
}

.container.active #qr-code {
  display: flex;
}
