body {
  overflow: hidden;
}

h1 {
  font-family: Helvetica;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gallery-item {
  flex: 0 0 calc(33.33% - 1rem);
}

.gallery-image {
  width: 100%;
  height: 400px;
  transition: 0.5s;
  object-fit: cover;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
}

.lightbox-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.lightbox-image {
  max-width: 1200px;
  object-fit: cover;
}

.lightbox-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #aaa;
  text-decoration: none;
  border: 2px solid #aaa;
  padding: 0.5rem;
  transition: 0.5s;
  border-radius: 50%;
}

.bi {
  display: flex;
  align-items: center;
}

.lightbox-close:hover {
  background-color: #aaa;
  color: #000;
}
