* {
  font-family: Helvetica;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 3rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colors div {
  background-color: blue;
  width: 150px;
  height: 150px;
  margin: 0 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000040;
  transition: 0.3s;
  position: relative;
}

.colors div:hover {
  transform: scale(1.1);
}

.colors div p {
  position: absolute;
  top: 140px;
  text-align: center;
}

#gen-btn {
  width: 200px;
  margin: 4rem auto 0;
  padding: 1rem;
  border: none;
  background-color: rgb(218, 147, 115);
  border-radius: 5px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

#gen-btn:hover {
  background-color: rgb(158, 107, 83);
}
