* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #180922;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000000;
}

.hide {
  display: none !important;
}

.container {
  min-width: 500px;
  /* min-height: 500px; */
  background-color: #ffffff;
  padding: 2rem;
}

/* IMC Form */
#imc-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#calc-container h2 {
  border-left: 4px solid purple;
  padding-left: 5px;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: #252525;
}

.form-control input {
  padding: 1rem 0.5rem;
  border: none;
  border-bottom: 3px solid transparent;
  background-color: rgb(184, 184, 184);
  outline: none;
  transition: padding-left 0.2s;
  font-weight: bold;
  font-size: 0.9rem;
  color: #222;
}

.form-control input:focus {
  border-bottom: 3px solid purple;
  padding-left: 0.8rem;
}

.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #3d0947;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  flex: 1;
}

button:hover {
  opacity: 1;
}

#clear-btn {
  background-color: #444;
}

/* Table */
#result-container {
  text-align: center;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 1.4rem;
  color: #000000;
}

#result-container h3 {
  margin-top: 1rem;
  color: #000000;
}

#result-container {
  display: flex;
  flex-direction: column;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #000000;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid purple;
  text-align: center;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.good {
  color: #09881e;
}

.low {
  color: #dbc712;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}
