body {
  font-family: Helvetica;
  background-color: #02020b;
  color: #fff;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.empty {
  text-align: center;
  font-size: 1.3rem;
}

.app-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #0d0f35;
  box-shadow: 0 0 8px #0000003f;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem;
  gap: 1rem;
}

.input-tasks {
  flex: 1;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  transition: padding-left 0.3s;
  font-size: 1.2rem;
  background-color: #aaa;
}
.input-tasks:focus {
  padding-left: 1.3rem;
  border-bottom: 2px solid rgb(0, 187, 255);
}

.add-button {
  border: none;
  border: 2px solid transparent;
  background-color: #02020b;
  font-size: 1.2rem;
  padding: 0 2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.add-button:hover {
  background-color: #02021f;
  border-color: #fff;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.delete-button {
  border: none;
  background-color: #f00;
  color: #fff;
  cursor: pointer;
  padding: 0 5px;
}
