* {
  font-family: Arial;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(76, 0, 255, 0.568);
  width: 500px;
  padding: 2rem;
  margin: 3rem auto;
  border-radius: 10px;
}

.cpf {
  font-size: 2rem;
  background-color: #ccc;
  padding: 1rem 2rem;
  height: 50px;
  width: 250px;
  line-height: 50px;
  border-left: 10px solid rgb(0, 20, 133);
  border-radius: 10px;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}
