* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.container {
  width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 0 0 10px #00000060;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
}

input,
textarea {
  background-color: #ddd;
  padding: 0.8rem;
  border: none;
  border-bottom: 2px solid transparent;
  font-size: 1rem;
  outline: none;
  transition: border-bottom 0.3s;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #c5bc6a;
}

.error-message {
  color: #f00;
  margin-top: 0.1rem;
  font-size: 0.9rem;
}

button {
  padding: 1rem 1.5rem;
  border: none;
  background-color: darkgoldenrod;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #ebaf40;
}

.error input,
.error textarea {
  border-color: #f00;
}
