* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Helvetica;
}

h2 {
  margin-bottom: 3rem;
}

#multiplication-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #111;
  border-radius: 3px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100px; */
  /* margin: 0 1rem; */
}

.form-control label {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control input {
  margin-bottom: 1rem;
  flex: 1;
  padding: 1rem 0.4rem;
  border: none;
  width: 80px;
  text-align: center;
  font-size: 1.2rem;
}

#multiplication-form input[type="submit"] {
  width: 100%;
  height: 60px;
  font-size: 1rem;
  font-weight: bolder;
  border: none;
  color: white;
  background-color: rgb(255, 68, 0);
  cursor: pointer;
  transition: 0.3s;
}

#multiplication-form input[type="submit"]:hover {
  background-color: rgb(161, 90, 67);
}

#multiplication-operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  background-color: #111;
}

#multiplication-operations .row {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  border-bottom: none;
  padding: 0.5rem;
  width: 150px;
}
#multiplication-operations .row:last-child {
  border-bottom: 1px solid #fff;
}

#multiplication-operations .result {
  margin-left: 0.4rem;
}

#multiplication-title span {
  color: yellow;
}
