* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000015;
  text-align: center;
  width: 500px;
}

.container h2,
.container p {
  margin-bottom: 1rem;
}

.container #password-input {
  width: 100%;
  padding: 1rem 0.8rem;
  background-color: #ddd;
  outline: none;
  border: none;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
  font-size: 1rem;
  border-radius: 5px;
  margin: 1rem 0;
}

.container #password-input:focus {
  border-bottom: 3px solid goldenrod;
  padding-left: 1.1rem;
}

.password-strength-bar {
  width: 100%;
  height: 25px;
  background-color: #ccc;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #00000036;
  overflow: hidden;
}

.strength-indicator {
  height: 100%;
  width: 0;
  background-color: red;
  transition: width 0.3s ease, background-color 0.3s ease;
}

#password-strength-text {
  margin: 1rem 0;
  color: #555;
  font-size: 0.9rem;
}

#tip {
  font-style: italic;
  color: #555;
  font-size: 0.8rem;
  max-width: 70%;
  margin: auto;
}
