body {
  background-color: #e2d5d5;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #746d91;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 3rem auto;
  max-width: 500px;
  padding: 1.6rem;
}

h2 {
  text-align: right;
  font-style: italic;
  color: #fff;
  border-right: 10px solid rgb(61, 7, 110);
  padding: 0.8rem 0.5rem;
}

label {
  display: block;
  font-size: 1rem;
  margin: 0.4rem 0;
  color: #fff;
}

input[type="number"],
select {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 10px;
  width: 100%;
}

button {
  background-color: #4c56af;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0.5rem 0 4rem;
  padding: 1rem 2rem;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #463e8e;
}

.result {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 1rem;
}

input[type="text"]:disabled {
  background-color: #f2f2f2;
  color: #777;
}
